<%= link_to '< back to all investments', investments_path %>
<h1><%= @investment.project.title %></h1>

<h4>Borrower: <%= @investment.borrower.name %></h4>
<h3>Total Loan Amount: $<%= @investment.total_investment_amount %></h3>
<h3>Oustanding Loan Amount: $<%= @investment.outstanding_balance %></h3>
<div class="col-xs-4">
  <h4>Payment Schedule:</h4>
  <table class="table table-striped">
    <tr>
      <th>Payment Due Date</th>
      <th>Amount Due</th>
    </tr>
    <% @investment.due_payments.each do |payment| %>
      <tr>
        <td><%= payment.payment_date.strftime('%-d %B, %Y') %></td>
        <td>$<%= payment.payment_amount.round(2) %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="col-xs-4">
  <h4>Made Payments:</h4>
  <table class="table table-striped">
    <tr>
      <th>Payment Made Date</th>
      <th>Amount Paid</th>
    </tr>
    <% @investment.made_payments.each do |payment| %>
      <tr>
        <td><%= payment.payment_date.strftime('%-d %B, %Y') %></td>
        <td>$<%= payment.payment_amount %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="col-xs-4">
  <h4>Late Payments:</h4>
  <ul class="list-unstyled">
    <li>Less than 14 days:<br>
      <h4><%= @late_payments[:'0-14'].count %></h4>
    </li>
    <li>15-30 days: <br>
      <h4><%= @late_payments[:'15-29'].count %></h4>
    </li>
    <li>More than 30 days:<br>
      <h4><%= @late_payments[:'30+'].count %></h4>
    </li>
  </ul>
</div>